In [ ]:
import numpy as np
import pandas as pd

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [ ]:
dataset = pd.read_csv('inspection2023_Ver2.csv')
dataset

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,...,pop_sqkm,num_crime_in2021,Hispanic or Latino,white,Black or African American,American Indian,Asian,Hawaiian,other,new_cuisine
0,50088158,XIANG HOTPOT,Brooklyn,5816,FORT HAMILTON PARKWAY,11219,7188515888,Chinese,2023-02-13,Violations were cited in the following area(s).,...,13647.151487,1930,0.123917,0.605269,0.012608,0.001138,0.234700,0.0,0.016946,Chinese
1,50131276,WHATSUP CAFE,Brooklyn,6609,FORT HAMILTON PARKWAY,11219,7187907666,Asian/Asian Fusion,2023-03-23,Violations were cited in the following area(s).,...,13647.151487,1930,0.123917,0.605269,0.012608,0.001138,0.234700,0.0,0.016946,Asian
2,50052708,PARC OASIS,Brooklyn,6403,11 AVENUE,11219,9292922010,Seafood,2023-02-23,Violations were cited in the following area(s).,...,13647.151487,1930,0.123917,0.605269,0.012608,0.001138,0.234700,0.0,0.016946,Meat
3,41028194,SAI'S CAFE,Brooklyn,6003,FORT HAMILTON PARKWAY,11219,6463611524,Bakery Products/Desserts,2023-02-28,Violations were cited in the following area(s).,...,13647.151487,1930,0.123917,0.605269,0.012608,0.001138,0.234700,0.0,0.016946,Bakery/Dessert
4,50049290,ORCHIDEA RESTAURANT,Brooklyn,4815,12 AVENUE,11219,7186867500,Jewish/Kosher,2023-02-06,Violations were cited in the following area(s).,...,13647.151487,1930,0.123917,0.605269,0.012608,0.001138,0.234700,0.0,0.016946,Jewish
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9254,41639556,ATRIO,Manhattan,102,NORTH END AVENUE,10282,2129450100,American,2023-02-23,Violations were cited in the following area(s).,...,16360.145773,111,0.043153,0.705094,0.019318,0.000000,0.154697,0.0,0.000000,American
9255,41569979,SHAKE SHACK,Manhattan,102,NORTH END AVENUE,10282,6465454600,Hamburgers,2023-01-06,Violations were cited in the following area(s).,...,16360.145773,111,0.043153,0.705094,0.019318,0.000000,0.154697,0.0,0.000000,Fast Food
9256,50105560,LE PAIN QUOTIDIEN,Manhattan,395,SOUTH END AVENUE,10280,6466188930,French,2023-02-24,Violations were cited in the following area(s).,...,8767.333600,146,0.127010,0.626078,0.016080,0.000000,0.207061,0.0,0.000000,French
9257,41699341,"TREADWELL PARK , BLACK HOUND",Manhattan,301,SOUTH END AVENUE,10280,2129450528,Mexican,2023-01-20,Violations were cited in the following area(s).,...,8767.333600,146,0.127010,0.626078,0.016080,0.000000,0.207061,0.0,0.000000,Mexican
9258,50105560,LE PAIN QUOTIDIEN,Manhattan,395,SOUTH END AVENUE,10280,6466188930,French,2023-02-24,Violations were cited in the following area(s).,...,8767.333600,146,0.127010,0.626078,0.016080,0.000000,0.207061,0.0,0.000000,French

In [ ]:
dataset.columns

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL',
       'NTA', 'Location Point1', 'cuisine', 'num_foodDO', 'median income',
       'pop_over25', 'bachelor_higher', 'prop_bachelor', 'POPULATION',
       'area_sqkm', 'pop_sqkm', 'num_crime_in2021', 'Hispanic or Latino',
       'white', 'Black or African American', 'American Indian', 'Asian',
       'Hawaiian', 'other', 'new_cuisine'],
      dtype='object')

In [ ]:
data = dataset[['CAMIS', 'GRADE','num_foodDO', 'median income','prop_bachelor','pop_sqkm','num_crime_in2021','Hispanic or Latino','white', 'Black or African American', 'American Indian', 'Asian','Hawaiian', 'other', 'new_cuisine']]
data

,CAMIS,GRADE,num_foodDO,median income,prop_bachelor,pop_sqkm,num_crime_in2021,Hispanic or Latino,white,Black or African American,American Indian,Asian,Hawaiian,other,new_cuisine
0,50088158,A,2,44450,0.206927,13647.151487,1930,0.123917,0.605269,0.012608,0.001138,0.234700,0.0,0.016946,Chinese
1,50131276,A,2,44450,0.206927,13647.151487,1930,0.123917,0.605269,0.012608,0.001138,0.234700,0.0,0.016946,Asian
2,50052708,A,2,44450,0.206927,13647.151487,1930,0.123917,0.605269,0.012608,0.001138,0.234700,0.0,0.016946,Meat
3,41028194,C,2,44450,0.206927,13647.151487,1930,0.123917,0.605269,0.012608,0.001138,0.234700,0.0,0.016946,Bakery/Dessert
4,50049290,B,2,44450,0.206927,13647.151487,1930,0.123917,0.605269,0.012608,0.001138,0.234700,0.0,0.016946,Jewish
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9254,41639556,B,1,250000,0.805675,16360.145773,111,0.043153,0.705094,0.019318,0.000000,0.154697,0.0,0.000000,American
9255,41569979,A,1,250000,0.805675,16360.145773,111,0.043153,0.705094,0.019318,0.000000,0.154697,0.0,0.000000,Fast Food
9256,50105560,A,1,178148,0.856648,8767.333600,146,0.127010,0.626078,0.016080,0.000000,0.207061,0.0,0.000000,French
9257,41699341,A,1,178148,0.856648,8767.333600,146,0.127010,0.626078,0.016080,0.000000,0.207061,0.0,0.000000,Mexican
9258,50105560,A,1,178148,0.856648,8767.333600,146,0.127010,0.626078,0.016080,0.000000,0.207061,0.0,0.000000,French

In [ ]:
data["GRADE"].value_counts()

A    7229
B    1300
C     730
Name: GRADE, dtype: int64

In [ ]:
X = data.loc[:,['num_foodDO', 'median income','prop_bachelor','pop_sqkm','num_crime_in2021','Hispanic or Latino','white', 'Black or African American', 'American Indian', 'Asian','Hawaiian', 'other','new_cuisine']]
Y_true = data["GRADE"]
X

,num_foodDO,median income,prop_bachelor,pop_sqkm,num_crime_in2021,Hispanic or Latino,white,Black or African American,American Indian,Asian,Hawaiian,other,new_cuisine
0,2,44450,0.206927,13647.151487,1930,0.123917,0.605269,0.012608,0.001138,0.234700,0.0,0.016946,Chinese
1,2,44450,0.206927,13647.151487,1930,0.123917,0.605269,0.012608,0.001138,0.234700,0.0,0.016946,Asian
2,2,44450,0.206927,13647.151487,1930,0.123917,0.605269,0.012608,0.001138,0.234700,0.0,0.016946,Meat
3,2,44450,0.206927,13647.151487,1930,0.123917,0.605269,0.012608,0.001138,0.234700,0.0,0.016946,Bakery/Dessert
4,2,44450,0.206927,13647.151487,1930,0.123917,0.605269,0.012608,0.001138,0.234700,0.0,0.016946,Jewish
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9254,1,250000,0.805675,16360.145773,111,0.043153,0.705094,0.019318,0.000000,0.154697,0.0,0.000000,American
9255,1,250000,0.805675,16360.145773,111,0.043153,0.705094,0.019318,0.000000,0.154697,0.0,0.000000,Fast Food
9256,1,178148,0.856648,8767.333600,146,0.127010,0.626078,0.016080,0.000000,0.207061,0.0,0.000000,French
9257,1,178148,0.856648,8767.333600,146,0.127010,0.626078,0.016080,0.000000,0.207061,0.0,0.000000,Mexican
9258,1,178148,0.856648,8767.333600,146,0.127010,0.626078,0.016080,0.000000,0.207061,0.0,0.000000,French

In [ ]:
# Encode categorical variables using one-hot encoding
X = pd.get_dummies(X, columns=['new_cuisine'])

In [ ]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
X = ss.fit_transform(X)

In [ ]:
from sklearn.cluster import KMeans
y_pred = KMeans(n_clusters=3, random_state = 234).fit_predict(X)

/opt/anaconda3/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [ ]:
for i in range(9259):
    y_pred[i]

In [ ]:
Y_true_list = Y_true.tolist()

In [ ]:
grade = data["GRADE"]
grade.value_counts()

A    7229
B    1300
C     730
Name: GRADE, dtype: int64

In [ ]:
grade_kmeans = grade.copy()
grade_kmeans = grade_kmeans.to_frame(name = 'Kmeans')
grade_kmeans['pred'] = y_pred
grade_kmeans['pred'].value_counts()

2    5158
0    2414
1    1687
Name: pred, dtype: int64

In [ ]:
rep={'A':'2','B':'0','C':'1'}
Y_true_list=[rep[i] if i in rep else i for i in Y_true_list]

In [ ]:
for i in range(9259):
    Y_true_list[i]

In [ ]:
sum = 0
for i in range(9259):
    if int(Y_true_list[i]) == y_pred[i]:
        sum = sum + 1
print(sum/9259)

0.5217626093530618

In [ ]:
grade_kmeans['Kmeans'] = grade_kmeans['Kmeans'].replace({'A':2,'B':0,'C':1})

In [ ]:
len(grade_kmeans.loc[grade_kmeans['Kmeans'] == grade_kmeans['pred']])/len(grade_kmeans)

0.5217626093530618

In [ ]:
from sklearn.metrics import precision_score, recall_score

precision_score(grade_kmeans['Kmeans'],grade_kmeans['pred'], average='macro')

0.36387638088176516

In [ ]:
recall_score(grade_kmeans['Kmeans'],grade_kmeans['pred'], average='macro')

0.37502635177955473

In [ ]:
from sklearn.metrics import accuracy_score, classification_report

accuracy_score(grade_kmeans['Kmeans'],grade_kmeans['pred'])

0.5217626093530618

In [ ]:
print(classification_report(grade_kmeans['Kmeans'],grade_kmeans['pred']))

              precision    recall  f1-score   support

           0       0.18      0.34      0.24      1300
           1       0.09      0.20      0.12       730
           2       0.82      0.59      0.69      7229

    accuracy                           0.52      9259
   macro avg       0.36      0.38      0.35      9259
weighted avg       0.67      0.52      0.58      9259